/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/config/local
/app/config/packages
/app/config/testing
/app/config/workbench.php
/app/config/app.php
/app/config/auth.php
/app/config/cache.php
/app/config/compile.php
/app/config/database.php
/app/config/mail.php
/app/config/queue.php
/app/config/remote.php
/app/config/services.php
/app/config/session.php
/app/config/view.php
/public/videos
