/*UTILITIES*/
.page{position: absolute;}
#main_bg > img{width: 100%;}
#l01 > #s1_a > img{opacity: 0.5;}
#l01 > #s1_b > img{opacity: 0.5;}
#l01 > #s1_boy > img{opacity: 0.5;}
#l01 > #s1_c > img{opacity: 0.5;}
#l01 > #s1_d1 > img{opacity: 0.5;}
#l01 > #s1_d2 > img{opacity: 0.5;}
#l01 > #s1_d3 > img{opacity: 0.5;}
