.horizon
{
	line-height: 0;
	z-index: 1;
	width: 2509px;
}

.horizon img{
	opacity: 0.1;
}

.middle {
    width: 3200px;
    z-index: 250;
    top: 0px;
}

.front {
    width: 6500px;
    z-index: 500;
    top: 0px;
}

.page
{
	position: absolute;
}

.element01
{
	top: 400px;
	left: 525px;
} 

.element02
{
	top: -130px;
	left: 1175px;
} 

.element03
{
	top: 220px;
	left: 1420px;
} 

.element04
{
	top: 220px;
	left: 3500px;
} 

.element05
{
	top: 220px;
	left: 5440px;
} 