<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/sunset/the-beginning-of-sunset-deity-announcement.css">

		<link rel="shortcut icon" href="../../images/sunset/the-beginning-of-sunset-deity-01/nameless.png">
		<link href='http://fonts.googleapis.com/css?family=Radley' rel='stylesheet' type='text/css'>
		<title>The Beginning of Sunset Deity</title>
	</head>
    <body>
    	<div class="container-fluid padding-0">
			<div class="col-xs-12 poster padding-0">
	    		<img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/poster.jpg" class="center-block img-responsive">
			</div>
			<div class="col-xs-3 col-xs-offset-8 text-right lang padding-0">
				<span>
					<u>ind</u>
				</span>
				<span>
					|
				</span>
				<a href="http://merchantofemotion.com/the-beginning-of-sunset-deity/announcement/lang-en">
					<span>
						eng
					</span>
				</a>
			</div>
			<div class="col-xs-12 text-center header-border">
			    <img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/border.png" class="center-block img-responsive">
			</div>
			<div class="col-xs-12 text-center header">
	    		<div class="row">
			    	<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-2 header-elem">
			        	<img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/home.png" class="center-block img-responsive">
			      	</div>
			      	<div class="col-xs-12 col-sm-12 col-md-2 header-elem">
				      	<a href="./the-beginning-of-sunset-deity-stories.html">	
				        	<img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/story.png" onmouseover="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/story_hover.png'" onmouseout="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/story.png'" class="center-block img-responsive">
				        </a>
			      	</div>
			      	<div class="col-xs-12 col-sm-12 col-md-2 header-elem">
			        	<a href="">	
			        		<img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/ticket.png" onmouseover="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/ticket_hover.png'" onmouseout="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/ticket.png'" class="center-block img-responsive">
			      		</a>
			      	</div>
			      	<div class="col-xs-12 col-sm-12 col-md-2 header-elem">
			      		<a href="http://merchantofemotion.com/the-beginning-of-sunset-deity/store">	
			        		<img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/merchandise.png" onmouseover="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/merchandise_hover.png'" onmouseout="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/merchandise.png'" class="center-block img-responsive">
			      		</a>
			      	</div>
	    		</div>
			</div>
			<div class="col-xs-12 text-center header-border">
			    <img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/border.png" class="center-block img-responsive">
			</div>
		</div>
		<div class="container">
			<div class="col-xs-12 text-center tanggal">
			    <img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/tanggal.png" class="center-block img-responsive">
			</div>
			<div class="col-md-5 col-md-offset-1 desc">
	    		<p class="text-justify">
	    			Merchant of Emotion, sebagai sebuah transformasi dari tim Teater EPIK yang sukses dengan pementasan Taraksa 2013 lalu, akan menghadirkan pertunjukan teatrikal terbarunya, Sunset Deity, Januari 2015 mendatang. Sunset Deity adalah Pementasan Teater Lintasmedia yang mengusung penggabungan teater, koreografi serta video mapping sebagai sebuah bahasa pementasan baru.
	    		</p>
			</div>
			<div class="col-md-5 desc">
	    		<p class="text-justify">
					“Waktu” menjadi tema besar dari rangkaian cerita yang akan diangkat pada pementasan. Cerita berputar pada proses pendewasaan yang dialami seorang Bocah Tanpa Nama sebagai entitas pertama yang hadir di awal penciptaan dunia.
	    		</p>
	    		<br/>
	    		<p class="text-justify">
	    			Pementasan perdana dari Sunset Deity akan dilaksanakan dari tanggal 23 - 25 Januari 2015, bertempat di Teater Tertutup Taman Budaya Jawa Barat, Bandung.
	    		</p>
			</div>
			<div class="col-md-2 col-md-offset-5 get-tickets">
	    		<a href="">
	    			<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/button ticket.png" class="center-block img-responsive">
	    		</a>
			</div>
		</div>
		<div id="video-trailer" class="container-fluid padding-0">
			<div class="col-md-12 video-border-top">
	    		<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/border-b.png" class="center-block img-responsive">
			</div>
			<div class="row video-trailer-content">
				<div class="col-md-5 col-md-offset-1 trailer-video">
		    		<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/1_W9aJqxzcs" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-5 trailer-desc">
					<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/video title.png" class="center-block img-responsive">
					<br/>
					<p class="text-justify">
		    			Mentari sudah turun, dan sang bocah akan berkenalan dengan malam yang hadir dalam cekam. Makhluk-makhluk bertaring tajam menggeliat muncul dari seluruh penjuru gelap, terpandu oleh nyanyian Bulan yang mengiris; dan sang bocah dihadapkan pada pelajaran hidup yang mesti ia lewati sepenuhnya sendiri untuk dapat menjadi dewasa.
		    		</p>
				</div>
			</div>
			<div class="col-md-12 video-border-bottom">
	    		<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/border-b.png" class="center-block img-responsive">
			</div>
		</div>
		<div class="container-fluid padding-0">
			<div class="col-md-6 col-md-offset-3 text-center to-blog">
				<a href="http://recollectionofsunset.blogspot.com">
	    			<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/blog.png" class="center-block img-responsive">
	    		</a>
			</div>
			<div class="col-md-6 col-md-offset-3 text-center to-blog-desc" style="margin-top:0px;margin-bottom:0px;">
	    		<p>
	    			Kunjungi Production Blog Merchant of Emotion untuk mendapatkan cerita lebih lanjut di balik produksi pementasan Sunset Deity.
	    		</p>
	    		<p>
	    			Jadilah yang pertama mengetahui perkembangan teater Sunset Deity dengan mendaftarkan email anda.
	    		</p>
			</div>
	    	<div class="col-xs-8 col-xs-offset-2 text-center subscription-form" style="margin-top:10px;margin-bottom:0px;">
					<div class="form-group">	
            <input type="text" class='form-control underlined' placeholder='email address'>	
          </div>
          <input type="submit" class='submit-button'>	
			</div>
			<div class="col-xs-8 col-xs-offset-2 text-center social-medias">
				<a href="http://facebook.com/pages/Merchant-of-Emotion/917903188237791"><img src="../../images/sunset/the-beginning-of-sunset-deity-01/sub/facebook.png" class="socmed"></a>
				<a href="http://instagram.com/merchofemotion"><img src="../../images/sunset/the-beginning-of-sunset-deity-01/sub/instagram.png" class="socmed"></a>
				<a href="http://twitter.com/MerchofEmotion"><img src="../../images/sunset/the-beginning-of-sunset-deity-01/sub/twitter.png" class="socmed"></a>
			</div>
			<div class="col-xs-8 col-xs-offset-2 text-center credits">
				<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/creds.png" class="center-block img-responsive">
			</div>
			<div class="col-xs-12 text-center padding-0 sponsors">
				<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/logos.jpg" class="center-block img-responsive">
			</div>
		</div>
    </body>
</html>