<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.jInvertScroll.js"></script>
    <link rel="stylesheet" href="../../css/jInvertScroll.css">
    <script type="text/javascript" src="../../js/scale.js"></script>
		<script type="text/javascript" src="../../js/sunset/the-beginning-of-sunset-deity-02-m-b.js"></script>
    <link rel="stylesheet" href="../../css/sunset/the-beginning-of-sunset-deity-02-m-b.css">
		<link rel="shortcut icon" href="../../images/sunset/the-beginning-of-sunset-deity-01/nameless.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Her warm hands pulled me up, her bright feature opened the world for us to play with.">

		<title>The Beginning of Sunset Deity: 02</title>
	</head>
    <body>
	    <div id="content">
	    	<div id="loader">
			    <img src="../../images/sunset/the-beginning-of-sunset-deity-01/loading.gif" width="40%">
			</div> 
	    	<div id="main_bg" class="scroll">
				<img alt="" src="../../images/sunset/the-beginning-of-sunset-deity-02-m/2.jpg">
			</div>
			<div id="l01" class="scroll">
				<div id="next" class="page">
					<a href="./the-beginning-of-sunset-deity-02-m-c.html"><img alt="" src="images/sunset/the-beginning-of-sunset-deity-02-m/next.png"></a>
				</div>
				<div id="back" class="page">
					<a href="./the-beginning-of-sunset-deity-02-m-a.html"><img alt="" src="../../images/sunset/the-beginning-of-sunset-deity-02-m/back.png"></a>
				</div>
			</div>
        </div>
    </body>
</html>