<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/sunset/the-beginning-of-sunset-deity-story.css">
		<link rel="shortcut icon" href="../../images/sunset/the-beginning-of-sunset-deity-01/nameless.png">
		<link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
		<title>Story</title>
	</head>
	<body>
		<div class="container-fluid padding-0">
			<div class="col-xs-12 text-center poster padding-0">
			    <img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/poster.jpg" class="center-block img-responsive">
			</div>
			<div class="col-xs-3 col-xs-offset-8 text-right lang padding-0">
				<a href="./the-beginning-of-sunset-deity-stories.html">
					<span>
						ind
					</span>
				</a>
				<span>
					|
				</span>
				<span>
					<u>eng</u>
				</span>
			</div>
			<div class="col-xs-12 text-center header-border">
			    <img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/border.png" class="center-block img-responsive">
			</div>
			<div class="col-xs-12 text-center header">
	    		<div class="row">
			    	<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-2 header-elem">
			        	<a href="./the-beginning-of-sunset-deity-announcement-lang-en.html">
			        		<img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/home.png" onmouseover="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/home_hover.png';" onmouseout="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/home.png';" class="center-block img-responsive">
			        	</a>
			      	</div>
			      	<div class="col-xs-12 col-sm-12 col-md-2 header-elem">
			        		<img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/story.png" class="center-block img-responsive">
			      	</div>
			      	<div class="col-xs-12 col-sm-12 col-md-2 header-elem">
			        	<a href="">	
			        		<img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/ticket.png" onmouseover="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/ticket_hover.png';" onmouseout="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/ticket.png';" class="center-block img-responsive">
			      		</a>
			      	</div>
			      	<div class="col-xs-12 col-sm-12 col-md-2 header-elem">
			      		<a href="./the-beginning-of-sunset-deity-store.html">	
			        		<img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/merchandise.png" onmouseover="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/merchandise_hover.png';" onmouseout="this.src='../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/merchandise.png';" class="center-block img-responsive">
			      		</a>
			      	</div>
	    		</div>
			</div>
			<div class="col-xs-12 text-center header-border">
			    <img src="../../images/sunset/the-beginning-of-sunset-deity-tickets-new/header/border.png" class="center-block img-responsive">
			</div>
		</div>
		<div class="container-fluid padding-0">
			<div class="col-md-8 col-md-offset-2 text-center preface">
				<p>
	    			Sunset Deity's tale takes the form of an online storybook that will unfold gradually.
	    		</p>
	    		<p>
	    			The full version of the storybook might require your PC/laptop to load the contents longer.
	    		</p>
			</div>
			<div class="col-xs-12 text-center thumb padding-0">
			    <a href="" data-toggle="modal" data-target="#prompt-ch1"><img src="../../images/sunset/the-beginning-of-sunset-deity-story/ch1.png" class="center-block img-responsive"></a>
			</div>
			<!-- ch1 Modal -->
			<div class="modal fade" id="prompt-ch1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div id="prompt-ch-content" class="modal-content">
						<div class="modal-body">
							<div>
								<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/border.png" class="center-block img-responsive">
							</div>
							<br/>
							<br/>
							<div>
								<a href="./the-beginning-of-sunset-deity-01.html"><img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/animation.png" class="center-block img-responsive"></a>
							</div>
							<br/>
							<br/>
							<br/>
							<br/>
							<div>
								<a href="./the-beginning-of-sunset-deity-01-m.html"><img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/light.png" class="center-block img-responsive"></a>
							</div>
							<br/>
							<br/>
							<div>
								<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/border.png" class="center-block img-responsive">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 text-center thumb padding-0">
			    <a href="" data-toggle="modal" data-target="#prompt-ch2"><img src="../../images/sunset/the-beginning-of-sunset-deity-story/ch2.png" class="center-block img-responsive"></a>
			</div>
			<!-- ch2 Modal -->
			<div class="modal fade" id="prompt-ch2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div id="prompt-ch-content" class="modal-content">
						<div class="modal-body">
							<div>
								<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/border.png" class="center-block img-responsive">
							</div>
							<br/>
							<br/>
							<div>
								<a href="./the-beginning-of-sunset-deity-02-scalable.html"><img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/animation.png" class="center-block img-responsive"></a>
							</div>
							<br/>
							<br/>
							<br/>
							<br/>
							<div>
								<a href="./the-beginning-of-sunset-deity-02-m-a.html"><img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/light.png" class="center-block img-responsive"></a>
							</div>
							<br/>
							<br/>
							<div>
								<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/border.png" class="center-block img-responsive">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 text-center thumb padding-0">
			    <a href="" data-toggle="modal" data-target="#prompt-ch3"><img src="../../images/sunset/the-beginning-of-sunset-deity-story/ch3.png" class="center-block img-responsive"></a>
			</div>
			<!-- ch2 Modal -->
			<div class="modal fade" id="prompt-ch3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div id="prompt-ch-content" class="modal-content">
						<div class="modal-body">
							<div>
								<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/border.png" class="center-block img-responsive">
							</div>
							<br/>
							<br/>
							<div>
								<a href="./the-beginning-of-sunset-deity-03.html"><img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/animation.png" class="center-block img-responsive"></a>
							</div>
							<br/>
							<br/>
							<br/>
							<br/>
							<div>
								<a href="./the-beginning-of-sunset-deity-03-m.html"><img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/light.png" class="center-block img-responsive"></a>
							</div>
							<br/>
							<br/>
							<div>
								<img src="../../images/sunset/the-beginning-of-sunset-deity-announcement/border.png" class="center-block img-responsive">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 text-center credits">
			    <img src="../../images/sunset/the-beginning-of-sunset-deity-story/creds.png" class="center-block img-responsive">
			</div>
		</div>
	</body>
</html>